<h1>Welcome To My Shoes API</h1>

<form action='' method='post'>
<div class="dropdownColor">
 <button class="dropbtn">Color</button>
 <div class="dropdown-content">
   <a href="#">Blue</a>
   <a href="#">Orange</a>
   <a href="#">pink</a>
 </div>
</div>

<div class="dropdownSize">
 <button class="dropbtn">Size</button>
 <div class="dropdown-content">
   <a href="#">5</a>
   <a href="#">4</a>
   <a href="#">3</a>
 </div>
</div>

<!--json & ajax -->
<button id='btn'>Search</button>
</form>
<script src = 'shoe_api/frontEnd.js'></script>
