<!-- <div id="searchContainer">


    <div class="searchForm">
        <table id="#search">
            <!-- <tr>
                <td>
                    <label><em>Brand</em>:</label>
                </td>
                <td>
                    <select id="selectBrand">
        <script src="shoe_catalogue.js" type="text/x-handlebars-some-template" id="brandList">
          <option name="brand">{{brand}}</option>
        </script>
      </select>
                </td>
            </tr> -->

            <!-- <tr>
                <td>
                    <label><em>Color</em>: </label>
                </td>
                <td>
                    <select id="">
        <script src="shoe_catalogue.js" no-repeat='color in shoes' type="text/x-handlebars-some-template" id="colorList">
          <option name="color">{{color}}</option>
        </script>
        </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label><em>Size</em>: </label>
                </td>

                <td>
                    <select id="">
        <script src="shoe_catalogue.js" no-repeat='size in shoes' type="text/x-handlebars-some-template" id="sizeList">
          <option name="size">{{size}}</option>
        </script>
      </select>
                </td>
            </tr>

        </table>
        <div class="Button">
          <!-- <button onclick="Search();">Search</button> -->
            <!-- <input type="button" value="Search" id="searchBTN" />
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<script src="shoesApi.js"></script>  -->
