body {
  background: radial-gradient(white, black) no-repeat;
  height: 100%;
}

.header {
  color: white;
  border-style: solid;
  border-radius: 45em;
  border-width: medium;
}

h2 {
  color: white;
}
h3 {
 color:grey;
}

sup {
  height: 6em;
  padding: 0.1em;
}

.imagesPopping {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.imagesPopping>img {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  box-shadow: .5px .7px 0.8px black;
  transition: 400ms ease-in-out;
}

.imagesPopping>img:hover {
  cursor: pointer;
  transform: scale(1.5);
  color: brown;
}

.modal {
  width: 100%;
  height: 300px;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
  transition: 1s ease-in-out;
}

.active {
  animation: slideIn 1s ease-in-out 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes growUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}


/*#searchBTN {
    position: inherit;
    margin: 0px -40px;
    background-color: lightblue;
    color: #fff000;
    width: 100px;
    height: 30px;
    border: 1px dotted #4BABBD;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 1px 1px white;
    -moz-box-shadow: 1px 1px 1px 1px white;
    box-shadow: 1px 1px 1px 1px white;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

#searchBTN:hover {
    background-color: #000000;
    color: #fff;
    width: 100px;
    border: 5px dotted #000000;
    cursor: pointer;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
}*/

@keyframes clipMe {
  0% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

.container2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%;
  width: 100%;
  display: none;
  background-color: lightblue;
}

.activeModal {
  display: flex;
  animation: modalAnim 300ms ease-in-out forwards;
}

@keyframes modalAnim {
  0%, 50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.inactiveModal {
  display: flex;
  animation: inactiveModalAnim 3s ease-in-out forwards;
}

@keyframes inactiveModalAnim {
  0% {
    background-color: rgba(0, 0, 0, 9)
  }
  100% {
    background-color: rgba(0, 0, 0, 0.0);
    transform: translateY(-200%)
  }
}

.formActive {
  animation: formAnim 1s ease-in-out forwards;
  animation-delay: 500ms;
}

@keyframes formAnim {
  0%, 15% {
    transform: translateX(-200%) rotate(90deg);
  }
  85%, 100% {
    transform: translateX(0%)
  }
}

.inactiveForm {
  animation: inactiveFormAnim 500ms ease-in-out forwards;
}



/*.tab {
    font-weight: bold;
    font-family: sans-serif;
    text-align: auto, center;
    font-size: 10px;
    width: 25%;
  }*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .input, id, brands {
    position: relative;
    display: inline-block;
  }
  .brands-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .colordrop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .colordrop-content a:hover {
    background-color: #f1f1f1
  }
  .colordrop:hover .colordrop-content {
    display: block;
  }
  .colordrop:hover .dropbtn {
    background-color: #3e8e41;
    .navBar {
      margin: 0;
      padding: 0;
      position: static;
      width: 100%;
      height: 40px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navBar {
      display: inline-block;
      margin-left: 100px;
    }
    .navBar {
      height: 20px;
      width: 150px;
      background-color: #fff;
      color: #279ec7;
      border: 1px solid #279ec7;
      cursor: pointer;
      transition: 300ms ease-in-out;
    }
    .navBar:hover {
      height: 20px;
      color: #fff;
      width: 150px;
      background-color: #279ec7;
      border: 1px solid #279ec7;
      cursor: pointer;
      transition: 300ms ease-in-out;
    }
    .modal {
      width: 100%;
      height: 300px;
      position: relative;
      background-image: url('../img/bg.jpg');
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 16px;
      text-shadow: 1px 1px 1px black;
      transition: 1s ease-in-out;
    }
    .modal>.title {
      width: 400px;
      height: 100px;
      border: 6px solid #fff;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    .title>h1 {
      margin: 30px 30px;
    }
    h3 {
      font-family: sans-serif;
      text-align: center;
      margin: 10px;
      padding: 0;
    }
